body {
  margin: 0;
  padding: 0;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #3f51b5;
  font-family: Arial, sans-serif;
}

.login-card {
  background-color: #4f63be;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 2px solid black;
}

.login-title {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.form-group {
  width: 100%;
}

.login-card input[type="email"],
.login-card input[type="password"] {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  font-size: 1rem;
  border: 2px solid black;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.login-card button {
  align-items: center;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid black;
}


.login-card button:hover {
  background-color: #dc3545;
}